<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')  %> 
  <link rel="stylesheet" href="/css/abmProducto.css" /> 

</head>
  
  

  <body>
    <header>
      <div class="boton-hamburguesa">
        <i class="fas fa-bars"></i>
      </div>
      <a class= "miCuenta" href="/user/profile"> 
        <div class="cabecera-administrador">               
          <i class="fas fa-user"></i>
          <div>Mi cuenta</div>        
        </div>
      </a>
    </header>
    <main>
      <div class="panel-administrador">
        <div class="logo-panel">
          <a href="/">
            <img src="/img/Logo-Fajuvi.png" alt="Logo Fajuvi" />
          </a>
        </div>
        <div class="link-panel">
          <i class="fas fa-home"></i>
          <div>Inicio</div>
        </div>
        <div>
          <div class="titulo-panel">Administrar</div>
          <div class="link-panel">
            <i class="fas fa-search-dollar"></i>
            <div>Ventas</div>
          </div>
          <div class="link-panel">
            <i class="fas fa-tags"></i>
            <div class="link-productos">
              <a href="/admin/products/create">Agregar Productos</a>
            </div>
          </div>
          <div class="link-panel">
            <i class="fas fa-list-ul"></i>
            <div class="link-productos">
              <a href="/admin/products">Lista de Productos</a>
            </div>
          </div>
          <div class="link-panel">
            <i class="fas fa-user-friends"></i>
            <div>Clientes</div>
          </div>
        </div>
      </div>
      <div class="panel-abm">
        <p class="titulo">Agregar un producto</p>
        <form class="agregar-producto" action="/admin/products" method="post" enctype="multipart/form-data">
          <div class="tarjeta">
            <div>
              <p class="subtitulo">Nombre y descripción</p>
            </div>
            <div class="caja-tarjeta">
              <label for="nombre">Nombre</label>
              <br />
              <input
                type="text"
                name="nombre"
                id="nombre"
                class="<%= locals.erroresCrear && erroresCrear.nombre ? 'invalido' : null %>"
                placeholder="Ej: Aro mariposa" value="<%= locals.datoCargado && datoCargado.nombre ? datoCargado.nombre : '' %>" />
                <% if (locals.erroresCrear && erroresCrear.nombre){ %>
                  <div class="error">
                    <%= erroresCrear.nombre.msg %>
                  </div>
                <% } %>                
            </div>
            <div class="caja-tarjeta">
              <label for="descripcion">Descripción</label>
              <br />
              <textarea class="<%= locals.erroresCrear && erroresCrear.descripcion ? 'invalido' : null %>"name="descripcion" id="descripcion" cols="30" rows="4" ><%= locals.datoCargado && datoCargado.descripcion ? datoCargado.descripcion : '' %></textarea>
              <% if (locals.erroresCrear && erroresCrear.descripcion){ %>
                <div class="error">
                  <%= erroresCrear.descripcion.msg %>
                </div>
              <% } %>  
            </div>
          </div>
          <div class="tarjeta">
            <p class="subtitulo">Precio</p>
            <div class="caja-tarjeta">
              <label for="precio">Precio</label>
              <br />
              <input class="precio <%= locals.erroresCrear && erroresCrear.precio ? 'invalido' : null %>" type="text" name="precio" value="<%= locals.datoCargado && datoCargado.precio ? datoCargado.precio : '' %>"/>
              <% if (locals.erroresCrear && erroresCrear.precio){ %>
                <div class="error">
                  <%= erroresCrear.precio.msg %>
                </div>
              <% } %>  
            </div>
          </div>
          <div class="tarjeta">
            <p class="subtitulo">Fotos</p>
            <input type="file" id="foto" name="foto" class="inputFoto"/>
            <% if (locals.erroresCrear && erroresCrear.foto){ %>
              <div class="error">
                <%= erroresCrear.foto.msg %>
              </div>
            <% } %>  
            <div class="caja-informacion">
              Tamaño mínimo recomendado: ancho y alto 1024px 
            </div>
          </div>
          <div class="tarjeta">
            <p class="subtitulo">Categoría</p>
            <div class="caja-tarjeta">
              <select name="categoria" id="categoria" class="<%= locals.erroresCrear && erroresCrear.categoria ? 'invalido' : null %>">
                <option value="" disabled selected>Seleccionar categoría</option>
                <option value="1" <%= locals.datoCargado && datoCargado.categoria === '1' ? 'selected' : '';%>>Pulseras</option>
                <option value="2"<%= locals.datoCargado && datoCargado.categoria === '2' ? 'selected' : '';%>>Aros</option>
                <option value="3" <%= locals.datoCargado && datoCargado.categoria === '3' ? 'selected' : '';%>>Cinturones</option>
                <option value="4" <%= locals.datoCargado && datoCargado.categoria === '4' ? 'selected' : '';%>>Anillos</option>
              </select>
              <% if (locals.erroresCrear && erroresCrear.categoria){ %>
                <div class="error">
                  <%= erroresCrear.categoria.msg %>
                </div>
              <% } %>  
            </div>
          </div>
          <div class="tarjeta checkbox">
            <p class="subtitulo">Seleccionar talle</p>
            <input type="checkbox" id="xs" name="talle[]" value="1" />
            <label for="xs">XS</label>
            <input type="checkbox" id="s" name="talle[]" value="2" />
            <label for="s">S</label>
            <input type="checkbox" id="m" name="talle[]" value="3" />
            <label for="">M</label>
            <input type="checkbox" id="l" name="talle[]" value="4" />
            <label for="l">L</label>
            <input type="checkbox" id="xl" name="talle[]" value="5" />
            <label for="xl">XL</label>
          </div>
          <div class="boton-publicar">
            <button class="publicar" type="submit">Publicar producto</button>
          </div>
          <div class="boton-cancelar">
            <a href="/admin/products" class="cancelar">Cancelar</a>
          </div>
        </form>
      </div>
    </main>
    <%-  include('./partials/footer')  %> 
    <script src=""></script>
  </body>
</html>
