<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')  %> 
  <link rel="stylesheet" href="/css/abmProducto.css" /> 

</head>
  <body>
    <header>
      <div class="boton-hamburguesa">
        <i class="fas fa-bars"></i>
      </div>
      <a class= "miCuenta" href="/user/profile"> 
        <div class="cabecera-administrador">               
          <i class="fas fa-user"></i>
          <div>Mi cuenta</div>        
        </div>
      </a>
    </header>
    <main>
      <div class="panel-administrador">
        <div class="logo-panel">
          <a href="/">
            <img src="/img/Logo-Fajuvi.png" alt="Logo Fajuvi" />
          </a>
        </div>
        <div class="link-panel">
          <i class="fas fa-home"></i>
          <div>Inicio</div>
        </div>
        <div>
          <div class="titulo-panel">Administrar</div>
          <div class="link-panel">
            <i class="fas fa-search-dollar"></i>
            <div>Ventas</div>
          </div>
          <div class="link-panel">
            <i class="fas fa-tags"></i>
            <div class="link-productos">
              <a href="/admin/products/create">Agregar Productos</a>
            </div>
          </div>
          <div class="link-panel">
            <i class="fas fa-list-ul"></i>
            <div class="link-productos">
              <a href="/admin/products">Lista de Productos</a>
            </div>
          </div>
          <div class="link-panel">
            <i class="fas fa-user-friends"></i>
            <div>Clientes</div>
          </div>
        </div>
      </div>
      <div class="panel-abm">
        <p class="titulo">Editar producto: <strong> <%= productoAEditar.id%> </strong> </p>
        <div class="erroresFormulario">
          <ul></ul>
        </div>
        <form class="agregar-producto" action="/admin/products/<%= productoAEditar.id%>?_method=PUT" method="post" enctype="multipart/form-data">
          <div class="tarjeta">
            <div>
              <p class="subtitulo">Nombre y descripción</p>
            </div>
            <div class="caja-tarjeta">
              <label for="nombre">Nombre</label>
              <br />
              <input
              class="<%= locals.erroresEditar && erroresEditar.nombre ? 'invalido' : null %>"
              value="<%= locals.datoCargado && datoCargado.nombre ? datoCargado.nombre : productoAEditar.name %>" 
                type="text"
                name="nombre"
                placeholder="Ej: Aro mariposa"
                id="nombre"
              />
              <% if (locals.erroresEditar && erroresEditar.nombre){ %>
                <div class="error">
                  <%= erroresEditar.nombre.msg %>
                </div>
              <% } %>
            </div>
            <div class="caja-tarjeta">
              <label for="descripcion">Descripción</label>
              <br />
              <textarea class="<%= locals.erroresEditar && erroresEditar.descripcion ? 'invalido' : null %>" name="descripcion" id="descripcion" cols="30" rows="4"><%= locals.datoCargado && (typeof datoCargado.descripcion != undefined) ? datoCargado.descripcion : productoAEditar.description %></textarea>
              <% if (locals.erroresEditar && erroresEditar.descripcion){ %>
                <div class="error">
                  <%= erroresEditar.descripcion.msg %>
                </div>
              <% } %> 
            </div>
          </div>
          <div class="tarjeta">
            <p class="subtitulo">Precio</p>
            <div class="caja-tarjeta">
              <label for="precio">Precio</label>
              <br />
              <input value="<%= locals.datoCargado && datoCargado.precio ? datoCargado.precio : productoAEditar.price %>" 
              class="precio <%= locals.erroresEditar && erroresEditar.precio ? 'invalido' : null %>" 
              type="text" name="precio" id="precio"/>
              <% if (locals.erroresEditar && erroresEditar.precio){ %>
                <div class="error">
                  <%= erroresEditar.precio.msg %>
                </div>
              <% } %> 
            </div>
          </div>
          <div class="tarjeta">
            <p class="subtitulo">Fotos</p>
            <div><img src="<%=productoAEditar.image%>" alt="" width="200"></div>
            <input type="file" id="foto" name="foto" />
            <% if (locals.erroresEditar && erroresEditar.foto){ %>
              <div class="error">
                <%= erroresEditar.foto.msg %>
              </div>
            <% } %>  
            <div class="caja-informacion">
              Tamaño mínimo recomendado: ancho y alto 1024px
            </div>
          </div>
          <div class="tarjeta">
            <p class="subtitulo">Categoría</p>
            <div class="caja-tarjeta">
              <select name="categoria" id="categoria" class="<%= locals.erroresEditar && erroresEditar.categoria ? 'invalido' : null %>">
                <option value="" disabled selected>Seleccionar categoría</option>
                <option value="1" <%= locals.datoCargado && datoCargado.categoria === '1' ? 'selected' : (productoAEditar.category.id == 1 ? "selected" : "") %> >Pulseras</option>
                <option value="2" <%= locals.datoCargado && datoCargado.categoria === '2' ? 'selected' : (productoAEditar.category.id == 2 ? "selected" : "") %> >Aros</option>
                <option value="3" <%= locals.datoCargado && datoCargado.categoria === '3' ? 'selected' : (productoAEditar.category.id == 3 ? "selected" : "") %> >Cinturones</option>
                <option value="4" <%= locals.datoCargado && datoCargado.categoria === '4' ? 'selected' : (productoAEditar.category.id == 4 ? "selected" : "") %> >Anillos</option>
              </select>
              <% if (locals.erroresEditar && erroresEditar.categoria){ %>
                <div class="error">
                  <%= erroresEditar.categoria.msg %>
                </div>
              <% } %> 
            </div>
          </div>
          <div class="tarjeta checkbox">
            <p class="subtitulo">Seleccionar talle</p>
            <input type="checkbox" id="xs" name="talle[]" value="1" <%= sizes.includes(1) ? "checked" : "" %> />
            <label for="xs">XS</label>
            <input type="checkbox" id="s" name="talle[]" value="2" <%= sizes.includes(2) ? "checked" : "" %> />
            <label for="s">S</label>
            <input type="checkbox" id="m" name="talle[]" value="3" <%= sizes.includes(3) ? "checked" : "" %> />
            <label for="">M</label>
            <input type="checkbox" id="l" name="talle[]" value="4" <%= sizes.includes(4) ? "checked" : "" %> />
            <label for="l">L</label>
            <input type="checkbox" id="xl" name="talle[]" value="5" <%= sizes.includes(5) ? "checked" : "" %> />
            <label for="xl">XL</label>
          </div>
          <div class="boton-publicar">
            <button class="publicar" type="submit">Modificar producto</button>
          </div>
          <div class="boton-cancelar">
            <a href="/admin/products" class="cancelar">Cancelar</a>
          </div>
        </form>
      </div>
    </main>
    <%-  include('./partials/footer')  %> 
    <script src="/js/validacionCrearEditarP.js"></script>
  </body>
</html>
