<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')  %> 
    <link rel="stylesheet" href="/css/abmProducto.css" /> 
  </head>
 
  <body>
    <header>
      <div class="boton-hamburguesa">
        <i class="fas fa-bars"></i>
      </div>
      <div class="cabecera-administrador">
        <i class="fas fa-user"></i>
        <div>Mi cuenta</div>
      </div>
    </header>
    <main>
      <div class="panel-administrador">
        <div class="logo-panel">
          <a href="/">
            <img src="/img/Logo-Fajuvi.png" alt="Logo Fajuvi" />
          </a>
        </div>
        <div class="link-panel">          
          <a href="/"><i class="fas fa-home"></i>Inicio</a>          
        </div>
        <div>
          <div class="titulo-panel">Administrar</div>
          <div class="link-panel">
            <i class="fas fa-search-dollar"></i>
            <div>Ventas</div>
          </div>
          <div class="link-panel">
            <i class="fas fa-tags"></i>
            <div class="link-productos">
              <a href="/products/create">Agregar Productos</a>
            </div>
          </div>
          <div class="link-panel">
            <i class="fas fa-list-ul"></i>
            <div class="link-productos">
              <a href="/products">Lista de Productos</a>
            </div>
          </div>
          <div class="link-panel">
            <i class="fas fa-user-friends"></i>
            <div>Clientes</div>
          </div>
        </div>
      </div>
      <div class="panel-abm">
        <div class="caja-crearProducto">
          <div class="titulo">
            Productos
           </div>
           <div class="icono-crear">
            <a href="/products/create"><i class="fas fa-plus-circle"></i></a>
           </div>           
        </div> 
         <% for(i = 0; i < productos.length; i++) { %>
          <div class="tarjeta-producto">
            <div class="check-producto">
              <i class="fas fa-check-square"></i>
            </div>
              <div class="caja-imagen">          
                <a href="/products/<%= productos[i].id%>">
                  <img src="<%= productos[i].image %>" alt="<%= productos[i].name %>" />
                </a>
              </div>
              <div class="caja-descripcion">
                <h4 class="producto"><%= productos[i].name %></h4>
                <div class="stock">
                  <div class="total-stock">1</div>
                  <div>en stock</div>
                </div>              
                <p class="precio"><strong>Precio</strong> $ <%= productos[i].price %></p>
              </div>
              <div class="caja-editar">
                <a href="/products/<%= productos[i].id%>/edit"><i class="fas fa-pen"></i></a>
                
                <form action="/products/<%= productos[i].id%>?_method=DELETE" method="POST">
                  <button type="submit" class="action-button delete"><a href="#"><i class="fas fa-trash-alt"></i></a> </button>
                </form>
                
              </div>
          </div> 
          <% } %>            
      </div>
    </main>    
<%-  include('./partials/footer')  %> 
  </body>
</html>
