<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head')  %> 
    <link rel="stylesheet" href="/css/indice.css" />
  </head>

  <body>
     <%-  include('./partials/header')  %> 

    <section class="carrusel">
      <div class="carrusel-img">
        <img src="img/collar1.jpg" alt="imagen de collar" />
      </div>
      <div class="carrusel-flechas">
        <i class="arrow-right fas fa-chevron-right"><a href=""></a></i>
        <i class="arrow-left fas fa-chevron-left"><a href=""></a></i>
      </div>
      </section>
      <div class="carrusel-circulo">
      <span class="circulo"></span>
      <span class="circulo"></span>
        <span class="circulo"></span>
      </div>
    <main>
      <h3 class="titulo-destacado">Productos más vendidos</h3>
      <section class="productos-destacados">
        <% for(i = 0; i < productosPopulares.length; i++) { %>

          <article>
            <div class="caja-imagen">
              <a href="/productos/<%= productosPopulares[i].id %>">
                <img src="<%= productosPopulares[i].image %>" alt="imagen de collar" />
              </a>
            </div>
            <h4 class="producto"><%= productosPopulares[i].name %></h4>
            <p class="precio">$<%= productosPopulares[i].price %></p>
            <p class="cuotas">6 Cuotas sin interés de $<%= productosPopulares[i].price / 6 %></p>
          </article>
  
          <% } %>
      </section>
      <div class="boton-mas-productos">
        <a href="/productos">
          <button class="boton-ver-mas">Ver todos los productos</button>
        </a>
      </div>
    </main>

    <%-  include('./partials/footer')  %> 
  </body>
</html>
