 <!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head')  %> 
    <link rel="stylesheet" href="/css/perfilUsuario.css" />
  </head>

  <body>
    <%-  include('./partials/header')  %> 
    <main>
      <section class="posicion">
        <hr />
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><i class="fas fa-chevron-right"></i></li>
          <li><a href="/user/profile">Mi cuenta</a></li>
        </ul>
      </section>
      <h3 class="titulo-destacado"> Mi Cuenta</h3>
      <div class="box-datosUsuario">
        <div class="imagen-usuario">
            <img src="/img/img_users/<%= user.image%>" alt="">
        </div>
        <div class="caja-datos">
          <div class="perfil-editar">
            <div class="titulo">Mis datos</div>
            <div><a href="#"></a><i class="fas fa-user-edit"></i></div>
          </div>            
          <div><i class="fas fa-user"></i><%= user.firstName%> <%= user.lastName %> </div>
          <div><i class="fas fa-envelope"></i><%= user.email%></div>       
          <form action="/user/profile" method="post">
            <button class="cerrarPerfil"type="submit" > Cerrar Sesion </button>
          </form>     
        </div> 
      </div> 
    </main>
    <%-  include('./partials/footer')  %> 
  </body>
</html>