<!DOCTYPE html>
<html lang="en">  
  <head>
    <%- include('./partials/head')  %>
    <link rel="stylesheet" href="/css/registro.css" /> 
  </head>
  <body>
    <%-  include('./partials/header')  %> 

    <main>
      <section class="posicion">
        <hr />
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><i class="fas fa-chevron-right"></i></li>
          <li><a href="/user/sign-up">Registrarse</a></li>
        </ul>
      </section>
      <section class="registro">
        <form action="/user/sign-up" method="POST" class="formulario-registro" enctype="multipart/form-data">
          <div class="caja-registro">
            <p>Creá tu cuenta</p>
            <div >
            </div> 
            <label for="nombre">Nombre</label>  

            <% if (locals.errors && errors.nombre) { %>
                <p id="msj_error"> <%= errors.nombre.msg  %>  </p>          
            <% } %>     

            <div>
              <input type="text" name="nombre" id="nombre" value="<%= locals.oldData ? oldData.nombre : null  %>" />
            </div>             
            <label for="nombre">Apellido</label>
            <% if (locals.errors && errors.apellido) { %>
              <p id="msj_error"> <%= errors.apellido.msg %>  </p>          
            <% } %>  
            <div>
              <input type="text" name="apellido" id="apellido"  value="<%= locals.oldData ? oldData.apellido : null  %>"/>
            </div> 
            <label for="email">Email</label>
            <div>
              <% if (locals.errors && errors.email) { %>
                <p id="msj_error"> <%= errors.email.msg %>  </p>          
              <% } %>  
              <input type="email" name="email" id="email"  value="<%= locals.oldData ? oldData.email : null  %>"/>
            </div>
            <div class="cajaFlexUsuario">
              <div class="inputIMG">
                <label for="fotoPerfil">Foto de Perfil</label>
                <% if (locals.errors && errors.fotoPerfil) { %>
                  <p id="msj_error"> <%= errors.fotoPerfil.msg %>  </p>          
                <% } %>  
                <div class="imagenPerfil">
                  <input class="inputImagen" type="file" name="fotoPerfil" id="fotoPerfil"  />
                </div>
              </div>
              <div class="categoriaUsuario">
                <label for="nombre">Categoría</label></br>
                <% if (locals.errors && errors.catUsuario) { %>
                  <p id="msj_error"> <%= errors.catUsuario.msg %>  </p>          
                <% } %>

                <select name="catUsuario" id="catUsuario" value="<%= locals.oldData ? oldData.catUsuario : null  %>">
                  <option value=""> <%= locals.oldData && oldData.catUsuario ?  oldData.catUsuario : 'Seleccione una categoria'%> </option>
                  
                  <% let categorias = ['Administrador', 'Cliente',] %> 
                  
                  <% for( const cat of categorias ) { %>
                    <option 
                          value=" <%= cat %>"  <%= locals.oldData && (cat === oldData.catUsuario) ? 'selected' : null%> 
                          ><%= cat %></option>
                  <% } %>
                
                </select>
              </div> 
            </div>             
            <div class="contraseña">
              <div class="contraseña1">
                <label for="password">CONTRASEÑA</label>
                <% if (locals.errors && errors.password) { %>
                  <p id="msj_error"> <%= errors.password.msg %>  </p>          
                <% } %> 
                <div>
                  <input
                      type="password"
                      name="password"
                      id="password"
                      minlength="8"
                  />
                </div>
              </div>
              <div class="contraseña2">
                  <label for="password2">REPETÍ CONTRASEÑA</label>
                  <% if (locals.errors && errors.password2) { %>
                    <p id="msj_error"> <%= errors.password2.msg %>  </p>          
                  <% } %> 
                  <div>
                    <input
                      type="password"
                      name="password2"
                      id="password2"
                      minlength="8"
                    />
                  </div>
              </div>
            </div> 
          </div>
          <div class="politica">
            <input class="radioPolitica"
              type="radio"
              value="politica-privacidad"
              name="politica-privacidad"
              id="politica-privacidad"
            />
            <label for="politica-privacidad"> Acepto y entiendo la política de privacidad y uso de cookies.</label>           
          </div>
          <div class="boton-iniciar">
            <button class="boton-crear" type="submit">Crear cuenta</button>
          </div>
        </form>
      </section>
      <div class="registro-inicSesion">
        <a href="/user/sign-in">¿Ya tenés una cuenta?</a>        
        <button class="boton-sesion" type="submit">Iniciá Sesión</button>
      </div>
    </main>     
    <%-  include('./partials/footer')  %> 
  </body>
</html>
